@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

$inner-padding: 40px;
$main-color: hsl(55, 50, 75%);
$content-background-color: white;
$header-color1: hsl(70, 70, 95);
$header-color2: hsl(67, 60, 90);

body {
    background: $main-color url("/images/noise.png");
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    line-height: 1.5;
    color: #222;
}

#wrapper {
    $default-box-shadow-blur: 7px;
    @include single-box-shadow;
}

#{headings()} {
    font-family: "Source Sans Pro";
    font-weight: bold;
}

header {
    @include background(linear-gradient(left,
                                        $header-color1,
                                        $header-color2));
    background-color: $header-color1;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: $inner-padding;
    padding-right: $inner-padding;
    h1 {
        font-size: 3.5em;
        margin-bottom: 20px;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    h2 {
        font-size: 1.6em;
    }
    border-bottom: solid 2px (0.5 * $main-color);

}

#main {
    padding-top: $inner-padding;
    padding-left: $inner-padding;
    padding-right: $inner-padding;
    background-color: $content-background-color;
    display: block;
    p.meta {
        time {
            font-family: "Source Sans Pro";
            font-size: 1.75em;
        }
        margin-bottom: 15px;
    }
    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
}

footer {
    background-color: $content-background-color;
    height: 50px;
}

.paragraph {
    height: 20px;
}

article  a.idref:visited {color : #416DFF; text-decoration : none; }
article  a.idref:link {color : #416DFF; text-decoration : none; }
article  a.idref:hover {text-decoration : none; }
article  a.idref:active {text-decoration : none; }

article  a.modref:visited {color : #416DFF; text-decoration : none; }
article  a.modref:link {color : #416DFF; text-decoration : none; }
article  a.modref:hover {text-decoration : none; }
article  a.modref:active {text-decoration : none; }

article .keyword { color : #cf1d1d }

article .doc {
    margin: 0px;
    font-size: 1.1em;
    max-width: 40em;
}

.inlinecode {
    display: inline;
    color: #666666;
    font-family: monospace;
}

.doc .inlinecode {
    display: inline;
    color: rgb(30%,30%,70%);
    font-family: monospace;
}

.doc .inlinecode .id {
    color: rgb(30%,30%,70%);
}

.inlinecodenm {
    display: inline;
    color: #444444;
}

.doc .code {
    display: inline;
    font-size: 120%;
    color: rgb(30%,30%,70%);
    font-family: monospace;
    margin-left: 20px;
}

.comment {
    display: inline;
    font-family: monospace;
    color: rgb(50%,50%,80%);
}

.code {
    display: block;
    margin-left: 15px;
    font-size: 110%;
    font-family: monospace;
    line-height: 1.5;
}

table.infrule {
  border: 0px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

td.infrule {
    font-family: monospace;
    text-align: center;
    padding: 0px;
    line-height: 100%;
}

tr.infrulemiddle hr {
    margin: 1px 0 1px 0;
}

.infrulenamecol {
    color: rgb(60%,60%,60%);
    font-size: 80%;
    padding-left: 1em;
    padding-bottom: 0.1em
}

.id { display: inline; }

.id[type="constructor"] {
    color: rgb(60%,0%,0%);
}

.id[type="var"] {
    color: rgb(40%,0%,40%);
}

.id[type="variable"] {
    color: rgb(40%,0%,40%);
}

.id[type="definition"] {
    color: rgb(0%,40%,0%);
}

.id[type="abbreviation"] {
    color: rgb(0%,40%,0%);
}

.id[type="lemma"] {
    color: rgb(0%,40%,0%);
}

.id[type="instance"] {
    color: rgb(0%,40%,0%);
}

.id[type="projection"] {
    color: rgb(0%,40%,0%);
}

.id[type="method"] {
    color: rgb(0%,40%,0%);
}

.id[type="inductive"] {
    color: rgb(0%,0%,80%);
}

.id[type="record"] {
    color: rgb(0%,0%,80%);
}

.id[type="class"] {
    color: rgb(0%,0%,80%);
}

.id[type="keyword"] {
 color : #cf1d1d;
}

.inlinecode .id {
    color: rgb(0%,0%,0%);
}
