<!DOCTYPE html>
<html>
  <head>
    <title>Poleiro - $title$</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/screen.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900"
          rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1><a href="/">Poleiro</a></h1>
        <h2>Where the Coq lives</h2>
      </header>
      <nav>
        <ul>
          <li><a href="/">Main</a></li>
          <li><a href="/archives.html">Archives</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/atom.xml">Feed</a></li>
        </ul>
      </nav>
      <div id="main">
        $body$
      </div>
      <footer></footer>
    </div>
  </body>
</html>
