<!DOCTYPE html>
<html>
  <head>
    <title>Poleiro, the Coq blog - $title$</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description"
          content="A blog about the Coq proof assistant and
                   programming language" />
    <link href="/css/screen.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900"
          rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="page">
      <header>
        <h1><a href="http://poleiro.info">Poleiro</a></h1>
        <h2>Where the Coq lives</h2>
      </header>
      <nav>
        <ul>
          <li><a href="http://poleiro.info">Main</a></li>
          <li><a href="/archives.html">Archives</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/atom.xml">Feed</a></li>
        </ul>
      </nav>
      <div id="main">
        $body$
      </div>
      <footer></footer>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40322834-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
